<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="back()">
        <ion-icon slot="start" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-weight: bold;">
      <img src="../../assets/desuung-header-logo.png" class="logo">
    </ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="orange-background">
  <div class="form-header">Update Profile</div>
  <div id="container">
    <form #updateProfileForm="ngForm" (ngSubmit)="updateProfile()" class="form-margin">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div padding>
              <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input class="icon-size-13" name="desuupName" type="text" [(ngModel)]="desuupName" [value]="desuupName" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input class="icon-size-13" name="email" type="email" [(ngModel)]="email" [value]="email" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Mobile No</ion-label>
                <ion-input class="icon-size-13" name="mobileNo" type="number" [(ngModel)]="mobileNo" [value]="mobileNo" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Marital Status</ion-label>
                <ion-select class="icon-size-13 my_ion_select" name="maritalStatus" [(ngModel)]="maritalStatus" [value]="maritalStatus" required>
                  <ion-select-option value="Single">Single</ion-select-option>
                  <ion-select-option value="Married">Married</ion-select-option>
                  <ion-select-option value="Divorced">Divorced</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Present Dzongkhag/Location</ion-label>
                <ion-select class="icon-size-13 my_ion_select" name="location" [(ngModel)]="location" [value]="location" required>
                  <ion-select-option *ngFor="let dzongkhag of dzongkhagList" [value]="dzongkhag.id">
                    {{dzongkhag.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Employment Type</ion-label>
                <ion-select class="icon-size-13 my_ion_select" name="employmentType" [(ngModel)]="employmentType" [value]="employmentType" (ionChange)="toggleForm($event)" required>
                  <ion-select-option *ngFor="let empType of empTypeList" [value]="empType.id">
                    {{empType.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item *ngIf="show">
                <ion-label position="floating">Agency Type</ion-label>
                <ion-select class="icon-size-13 my_ion_select" name="agencyType" [(ngModel)]="agencyType" [value]="agencyType" (ionChange)="getAgencyList($event);" required >
                  <ion-select-option *ngFor="let agencyType of agencyTypeList" [value]="agencyType.id">
                    {{agencyType.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item *ngIf="show">
                <ion-label position="floating">Present Address/Agency</ion-label>
                <ion-select class="icon-size-13 my_ion_select" name="agency" [(ngModel)]="agency" [value]="agency" required>
                  <ion-select-option *ngFor="let agency of agencyList" [value]="agency.id">
                    {{agency.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item *ngIf="show">
                <ion-label position="floating">Designation</ion-label>
                <ion-input class="icon-size-13" name="designation" type="text" [(ngModel)]="designation" [value]="designation" required></ion-input>
              </ion-item>
              <ion-item *ngIf="show">
                <ion-label position="floating">Occupational Group</ion-label>
                <ion-select class="icon-size-13 my_ion_select" name="profession" [(ngModel)]="profession" [value]="profession" required>
                  <ion-select-option class="ion-text-wrap" *ngFor="let profession of professionalList" [value]="profession.id">
                    {{profession.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Qualification</ion-label>
                <ion-select class="icon-size-13 my_ion_select" name="qualification" [(ngModel)]="qualification" [value]="qualification" required>
                  <ion-select-option *ngFor="let qualification of qualificationList" [value]="qualification.id">
                    {{qualification.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Skills</ion-label>
                <ion-select class="icon-size-13 my_ion_select" name="skills" [(ngModel)]="skills" [value]="skills"  multiple="true" required>
                  <ion-select-option *ngFor="let skill of skillList" [value]="skill.id">
                    {{skill.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Interests</ion-label>
                <ion-select class="icon-size-13 my_ion_select" name="interests" [(ngModel)]="interests" [value]="interests"  multiple="true" required>
                  <ion-select-option *ngFor="let interest of interestList" [value]="interest.id">
                    {{interest.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </div>
            <div padding>
              <ion-button size="large" type="submit" [disabled]="updateProfileForm.invalid" expand="block">
                <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>  Update
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
