<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="back()">
        <ion-icon slot="start" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-weight: bold;">
      <img src="../../assets/desuung-header-logo.png" class="logo">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="presentPopover($event)" color="primary">
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="orange-background">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="color: black;">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="form-header">Upcoming Events</div>
  <div *ngIf="dataList?.length != 0">
    <ion-list *ngFor="let data of dataList">
      <ion-item>
        <ion-icon ios="ios-notifications" md="md-notifications" style="color:#ff5507"></ion-icon>&nbsp;&nbsp;
        <ion-label>
          <h3 class="ion-text-wrap">{{data.title}}</h3>
          <h5 class="ion-text-wrap">{{data.event_type}}</h5>
          <!-- <p class="description ion-text-wrap">{{data.description}}</p> -->
        </ion-label>
        <ion-button slot="end" (click)="openModal(data.eventId)">
          <ion-icon ios="ios-eye" md="md-eye"></ion-icon>&nbsp;&nbsp;View
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="dataList?.length == 0">
    <div style="margin-top: 50%;
    font-size: 20px;
    text-align: center;
    color: #ff5507;">
      <img style="width: 100px;" src="../../assets/no-information.png">
    </div>
    <div style="font-size: 20px;
    text-align: center;
    color: #ff5507;">
      No events available
    </div>
  </div>
</ion-content>