<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-weight: bold;">
      <img src="../../assets/desuung-header-logo.png" class="logo">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="presentPopover($event)" color="primary">
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-header">Frequently Asked Questions</div>
  <ion-list *ngFor="let faq of faqList; let i of index">
    <ion-list-header>
      <ion-label><h1>{{faq.question}}</h1></ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-label color="dark" class="ion-text-wrap ion-text-justify">
        {{faq.answer}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
