<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-weight: bold;">
      <img src="../../assets/desuung-header-logo.png" class="logo">
    </ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="orange-background">
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge class="app-button-top">
    <ion-fab-button class="app-button">
      <ion-icon name="apps" class="app-button-icon"></ion-icon>
    </ion-fab-button>
    <ion-fab-list class="app-button-margin">
      <ion-fab-button color="primary" [routerLink]="['/dashboard']">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" [routerLink]="['/settings']">
        <ion-icon name="cog"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" [routerLink]="['/logout']">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <div class="form-header">Registered Events</div>

  <div *ngIf="dataList?.length != 0">
    <ion-list *ngFor="let data of dataList" style="margin-top: 5px;">
      <ion-card style="margin-top: 5px;">
        <ion-card-header style="--background: #ef5e5e;" text-wrap>
          <ion-card-subtitle style="--color: white;font-size: 20px;">{{data.title}}</ion-card-subtitle>
          <ion-card-title style="font-size: 12px; --color: white;">{{data.startDate | date}} - {{data.endDate | date}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="description">{{data.description}}</p>
          <hr>
          <p><span class="title">Event Type:</span> <b>{{data.event_type}}</b></p>
          <p><span class="title">Event Category:</span> <b>{{data.event_categorie}}</b></p>
          <p><span class="title">Event Location:</span> <b>{{data.dzongkhag}}</b></p>
          <p><span class="title">Coordinator:</span> <b>{{data.userName}}</b></p>
        </ion-card-content>
        <div align="right">
          <ion-button color="danger" (click)="cancelEvent(data.eventId)">
            <ion-icon name="close-circle"></ion-icon> Cancel
          </ion-button>
        </div>
      </ion-card>
    </ion-list>
  </div>
  <div *ngIf="dataList?.length == 0">
    <div style="margin-top: 50%;
    font-size: 20px;
    text-align: center;
    color: #ff5507;">
      <img style="width: 100px;" src="../../assets/no-information.png">
    </div>
    <div style="font-size: 20px;
    text-align: center;
    color: #ff5507;">
      No registered events available
    </div>
  </div>
</ion-content>