<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610684709968-s89ujkph6fqcgo264dk6i7gl6m65n2sm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610684709968-s89ujkph6fqcgo264dk6i7gl6m65n2sm</string>
	<key>API_KEY</key>
	<string>AIzaSyCe6RYjuk0aSPq7zlBT7cF3vUVsxXXsi0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>610684709968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bt.org.desuung</string>
	<key>PROJECT_ID</key>
	<string>desuung-884bb</string>
	<key>STORAGE_BUCKET</key>
	<string>desuung-884bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610684709968:ios:3ea89a8d4e15139a373555</string>
	<key>DATABASE_URL</key>
	<string>https://desuung-884bb.firebaseio.com</string>
</dict>
</plist>