<ion-split-pane>
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar color="primary">
        <img src="../../assets/desuung-header-logo.png" class="menu-image"/>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="forward" [class.active-item]="selectedPath === p.url">
            <ion-icon name="{{ p.icon }}" slot="start"></ion-icon>&nbsp;{{ p.title }}
          </ion-item>
        </ion-menu-toggle>
        <ion-item>
          <ion-button auto-hide="true" fill="clear" (click)="logout()" class="itemBtns">
            <ion-icon name="log-out" slot="start"></ion-icon>&nbsp;Logout
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>