.active-item {
    border-left: 8px solid var(--ion-color-primary);
}

.menu-image {
    width:20%;
    padding-left: 10px;
    padding-top:10px;
    margin-bottom: 0.75em;
    vertical-align: middle;
}

.itemBtns {
    color: black;
    font-size: 100%;
    padding-right: 100%;  
}