<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-weight: bold;">
      <img src="../../assets/desuung-header-logo.png" class="logo">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="presentActionSheet()" color="primary">
        <ion-icon name="apps"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="form-header">Entertainment</div>
  <div style="margin-top: 50%; font-size: 20px; text-align: center; color: #ff5507;">
      <img style="width: 100px;" src="../../assets/no-information.png">
  </div>
  <div style="font-size: 20px; text-align: center; color: #ff5507;">
      This feature is coming soon
  </div>
</ion-content>
