.alerterror {
    --background: red;
    --color: white;
    button.alertButton{
        color: white;
    }
}

.alertsuccess {
    --background: green;
    --color: white;
    button.alertButton{
        color: white;
    }
}