<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button icon-only color="primary" (click)="dismissModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-weight: bold;">
      <img src="../../assets/desuung-header-logo.png" class="custom-header-logo">
    </ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="orange-background">
  <div class="form-header">Event Details</div>

  <ion-list *ngFor="let data of dataList">
    <ion-card>
      <ion-card-header style="--background: #ef5e5e;" text-wrap>
        <ion-card-subtitle style="--color: white;font-size: 20px;">{{data.title}}</ion-card-subtitle>
        <ion-card-title style="font-size: 12px; --color: white;">{{data.startDate | date}} - {{data.endDate | date}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="description">{{data.description}}</p>
        <hr>
        <p><span class="title">Event Type:</span> <b>{{data.eventType}}</b></p>
        <p><span class="title">Event Category:</span> <b>{{data.eventCategory}}</b></p>
        <p><span class="title">Event Location:</span> <b>{{data.dzongkhag}}</b></p>
        <p><span class="title">Duration:</span> <b>{{data.expected_working_days}} days</b></p>
        <p><span class="title">Coordinator:</span> <b>{{data.coordinator}}</b></p>
        <p><span class="title">Total Desuups Required:</span> <b>{{data.total_desuup_required}}</b></p>
        <p><span class="title">Total Desuups Registered:</span> <b>{{data.totalDesuupRegistered}}</b></p>
      </ion-card-content>
      <div align="right" *ngIf="data.total_desuup_required !== data.totalDesuupRegistered">
        <ion-button (click)="register()">
          <ion-icon name="checkmark-circle"></ion-icon> Register
        </ion-button>
      </div>
    </ion-card>
  </ion-list>
</ion-content>