<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-weight: bold;">
      <img src="../../assets/desuung-header-logo.png" class="logo">
    </ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="orange-background">
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge class="app-button-top">
    <ion-fab-button class="app-button">
      <ion-icon name="apps" class="app-button-icon"></ion-icon>
    </ion-fab-button>
    <ion-fab-list class="app-button-margin">
      <ion-fab-button color="primary" [routerLink]="['/dashboard']">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" [routerLink]="['/changepin']">
        <ion-icon name="cog"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" [routerLink]="['/logout']">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div class="form-header">Create an event</div>
  <div id="container">
    <form #createEventForm="ngForm" (ngSubmit)="createEvent(); createEventForm.reset()" class="form-margin">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div padding>
              <ion-item>
                <ion-label position="floating">Event Title</ion-label>
                <ion-input class="icon-size-13" name="eventTitle" type="text" [(ngModel)]="eventTitle" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Event Category</ion-label>
                <ion-select class="icon-size-13" name="eventCategory" [(ngModel)]="eventCategory" (ionChange)="getEventTypes($event);" required>
                  <ion-select-option *ngFor="let category of eventCategoryList" [value]="category.id">
                    {{category.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Event Type</ion-label>
                <ion-select class="icon-size-13" name="eventType" [(ngModel)]="eventType" required>
                  <ion-select-option *ngFor="let eventype of eventTypeList" [value]="eventype.id">
                    {{eventype.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Event Details</ion-label>
                <ion-textarea class="icon-size-13" name="eventDetail" [(ngModel)]="eventDetail" required></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Location</ion-label>
                <ion-select class="icon-size-13" name="dzongkhag" [(ngModel)]="dzongkhag" required>
                  <ion-select-option *ngFor="let dzongkhag of dzongkhagList" [value]="dzongkhag.id">
                    {{dzongkhag.name}}
                  </ion-select-option>
                </ion-select>
                <!-- <ionic-selectable name="dzongkhag" [(ngModel)]="dzongkhag" 
                [items]="dzongkhagList" itemValueField="id" itemTextField="name" 
                [canSearch]="true" headerColor="primary" searchFailText="Nothing found">
                <ng-template ionicSelectableCloseButtonTemplate>
                  <ion-icon name="close-circle"></ion-icon>
                </ng-template>
                <ng-template ionicSelectableTitleTemplate>
                  Location
                </ng-template>
                </ionic-selectable> -->
              </ion-item>
              <ion-item>
                <ion-label position="floating">Start Date</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" class="icon-size-13" name="startDate" [(ngModel)]="startDate" required></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label position="floating">End Date</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" class="icon-size-13" name="endDate" [(ngModel)]="endDate" required></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Start Time</ion-label>
                <ion-datetime displayFormat="HH:mm" class="icon-size-13" name="startTime" [(ngModel)]="startTime" required></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label position="floating">End Time</ion-label>
                <ion-datetime displayFormat="HH:mm" class="icon-size-13" name="endTime" [(ngModel)]="endTime" required></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Invite Desuups From</ion-label>
                <ion-select class="icon-size-13" name="inviteDesuupsFrom" [(ngModel)]="inviteDesuupsFrom" multiple="true" required>
                  <ion-select-option *ngFor="let dzongkhag of dzongkhagList" [value]="dzongkhag.id">
                    {{dzongkhag.name}}
                  </ion-select-option>
                </ion-select>
                <!-- <ionic-selectable #inviteDesuupFromComponent name="inviteDesuupsFrom" [(ngModel)]="inviteDesuupsFrom" 
                [items]="dzongkhagList" itemValueField="id" itemTextField="name" 
                [canSearch]="true" [isMultiple]="true" headerColor="primary" 
                searchFailText="Nothing found">
                <ng-template ionicSelectableCloseButtonTemplate>
                  <ion-icon name="close-circle"></ion-icon>
                </ng-template>
                <ng-template ionicSelectableTitleTemplate>
                  Invite Desuups From
                </ng-template>
                <ng-template ionicSelectableFooterTemplate>
                  <ion-footer>
                    <ion-toolbar>
                      <ion-row text-center>
                        <ion-col size="4">
                          <ion-button fill="clear" (click)="clear()">Clear</ion-button>
                        </ion-col>
                        <ion-col size="4">
                          <ion-button fill="clear" (click)="toggleItems()">Toggle</ion-button>
                        </ion-col>
                        <ion-col size="4">
                          <ion-button fill="clear" (click)="confirm()">Confirm</ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-toolbar>
                  </ion-footer>
                </ng-template>
                </ionic-selectable> -->
              </ion-item>
              <ion-item>
                <ion-label position="floating">Invite Desuups Batch</ion-label>
                <ion-select class="icon-size-13" name="inviteDesuupsBatch" [(ngModel)]="inviteDesuupsBatch" multiple="true" required>
                  <ion-select-option *ngFor="let batch of desuupBatchList" [value]="batch.batchNo">
                    {{batch.batchNo}}
                  </ion-select-option>
                </ion-select>
                <!-- <ionic-selectable name="inviteDesuupsBatch" [(ngModel)]="inviteDesuupsBatch" 
                [items]="desuupBatchList" itemValueField="batchNo" itemTextField="batchNo" 
                [canSearch]="true" [isMultiple]="true" headerColor="primary" searchFailText="Nothing found">
                <ng-template ionicSelectableCloseButtonTemplate>
                  <ion-icon name="close-circle"></ion-icon>
                </ng-template>
                <ng-template ionicSelectableTitleTemplate>
                  Invite Desuups Batch
                </ng-template>
                <ng-template ionicSelectableItemTemplate let-invitedBatch="item">
                  {{ invitedBatch.batchNo }}
                </ng-template>
                </ionic-selectable> -->
              </ion-item>
              <ion-item>
                <ion-label position="floating">Attendance Assistant</ion-label>
                <ion-select class="icon-size-13" name="attendanceAssistant" [(ngModel)]="attendanceAssistant" multiple="true" required>
                  <ion-select-option *ngFor="let desuup of desuupList" [value]="desuup.id">
                    {{desuup.name}} - ({{desuup.did}})
                  </ion-select-option>
                </ion-select>
                <!-- <ionic-selectable name="attendanceAssistant" [(ngModel)]="attendanceAssistant" 
                [items]="desuupList" itemValueField="id" itemTextField="name" 
                [canSearch]="true" [isMultiple]="true" headerColor="primary" 
                searchFailText="Nothing found">
                <ng-template ionicSelectableCloseButtonTemplate>
                  <ion-icon name="close-circle"></ion-icon>
                </ng-template>
                <ng-template ionicSelectableTitleTemplate>
                  Attendance Assistant
                </ng-template>
                <ng-template ionicSelectableItemTemplate let-attendanceAssistant="item">
                  {{ attendanceAssistant.name }} ({{attendanceAssistant.did}})
                </ng-template>
                </ionic-selectable> -->
              </ion-item>
              <ion-item>
                <ion-label position="floating">Coordinator</ion-label>
                <ion-select class="icon-size-13" name="coordinator" [(ngModel)]="coordinator" required>
                  <ion-select-option *ngFor="let coordinator of coordinatorList" [value]="coordinator.id">
                    {{coordinator.name}} - ({{coordinator.did}})
                  </ion-select-option>
                </ion-select>
                <!-- <ionic-selectable name="coordinator" [(ngModel)]="coordinator" 
                [items]="coordinatorList" itemValueField="id" itemTextField="name" 
                [canSearch]="true" headerColor="primary" searchFailText="Nothing found">
                <ng-template ionicSelectableCloseButtonTemplate>
                  <ion-icon name="close-circle"></ion-icon>
                </ng-template>
                <ng-template ionicSelectableTitleTemplate>
                  Event Coordinator
                </ng-template>
                <ng-template ionicSelectableItemTemplate let-coordinator="item">
                  {{ coordinator.name }} ({{coordinator.did}})
                </ng-template>
                </ionic-selectable> -->
              </ion-item>
              <ion-item>
                <ion-label position="floating">Expected Working Days</ion-label>
                <ion-input type="number" class="icon-size-13" name="expectedWorkingDay" [(ngModel)]="expectedWorkingDay" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Total Desuups Required</ion-label>
                <ion-input type="number" class="icon-size-13" name="totalDesuupsRequired" [(ngModel)]="totalDesuupsRequired" required></ion-input>
              </ion-item>
            </div>
            <div padding>
              <ion-button size="large" type="submit" [disabled]="createEventForm.invalid" expand="block">
                <ion-icon name="add-circle"></ion-icon>  Create Event
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>