<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="back()">
        <ion-icon slot="start" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-weight: bold;">
      <img src="../../assets/desuung-header-logo.png" class="logo">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="presentPopover($event)" color="primary">
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="orange-background">
  <div class="form-header">Create an event</div>
  <div id="container">
    <form #createEventForm="ngForm" (ngSubmit)="createEvent(); createEventForm.reset()" class="form-margin">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div padding>
              <ion-item>
                <ion-label position="floating">Event Title</ion-label>
                <ion-input class="icon-size-13" name="eventTitle" type="text" [(ngModel)]="eventTitle" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Event Category</ion-label>
                <ion-select class="icon-size-13 my_ion_select" name="eventCategory" [(ngModel)]="eventCategory" (ionChange)="getEventTypes($event);" required>
                  <ion-select-option *ngFor="let category of eventCategoryList" [value]="category.id">
                    {{category.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Event Type</ion-label>
                <ion-select class="icon-size-13 my_ion_select" name="eventType" [(ngModel)]="eventType" required>
                  <ion-select-option *ngFor="let eventype of eventTypeList" [value]="eventype.id">
                    {{eventype.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Event Details</ion-label>
                <ion-textarea class="icon-size-13" name="eventDetail" [(ngModel)]="eventDetail" required></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Location</ion-label>
                <ion-select class="icon-size-13 my_ion_select" name="dzongkhag" [(ngModel)]="dzongkhag" required>
                  <ion-select-option *ngFor="let dzongkhag of dzongkhagList" [value]="dzongkhag.id">
                    {{dzongkhag.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Start Date</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" class="icon-size-13" name="startDate" [(ngModel)]="startDate" required></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label position="floating">End Date</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" class="icon-size-13" name="endDate" [(ngModel)]="endDate" required></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Start Time</ion-label>
                <ion-datetime displayFormat="HH:mm" class="icon-size-13" name="startTime" [(ngModel)]="startTime" required></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label position="floating">End Time</ion-label>
                <ion-datetime displayFormat="HH:mm" class="icon-size-13" name="endTime" [(ngModel)]="endTime" required></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Invite Desuups From</ion-label>
                <ion-select class="icon-size-13 my_ion_select" name="inviteDesuupsFrom" [(ngModel)]="inviteDesuupsFrom" multiple="true" required>
                  <ion-select-option *ngFor="let dzongkhag of dzongkhagList" [value]="dzongkhag.id">
                    {{dzongkhag.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Invite Desuups-Occupation Group</ion-label>
                <ion-select class="icon-size-13 my_ion_select" name="profession" [(ngModel)]="profession" multiple="true" required>
                  <ion-select-option *ngFor="let profession of occupationGroupList" [value]="profession.id">
                    {{profession.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Invite Desuups Batch</ion-label>
                <ion-select class="icon-size-13 my_ion_select" name="inviteDesuupsBatch" [(ngModel)]="inviteDesuupsBatch" multiple="true" required>
                  <ion-select-option *ngFor="let desuup of desuupBatchList" [value]="desuup.batchNo">
                    {{desuup.batchNo}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                 <ion-label position="floating">Coordinator</ion-label>
                 <ion-select class="icon-size-13 my_ion_select" name="coordinator" [(ngModel)]="coordinator" required>
                  <ion-select-option *ngFor="let coordinator of coordinatorList" [value]="coordinator.id">
                    {{coordinator.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Total Desuups Required</ion-label>
                <ion-input type="number" class="icon-size-13" name="totalDesuupsRequired" [(ngModel)]="totalDesuupsRequired" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Radius(in meters)</ion-label>
                <ion-input type="number" class="icon-size-13" name="eventAreaRadius" [(ngModel)]="eventAreaRadius" required></ion-input>
              </ion-item>
            </div>
            <div padding>
              <ion-button size="large" type="submit" [disabled]="createEventForm.invalid" expand="block">
                <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>  Create Event
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>