<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-weight: bold;">
      <img src="../../assets/desuung-header-logo.png" class="logo">
    </ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge class="app-button-top">
    <ion-fab-button class="app-button">
      <ion-icon name="apps" class="app-button-icon"></ion-icon>
    </ion-fab-button>
    <ion-fab-list class="app-button-margin">
      <ion-fab-button color="primary" [routerLink]="['/dashboard']">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" [routerLink]="['/changepin']">
        <ion-icon name="cog"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" [routerLink]="['/logout']">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div class="form-header">Desuup's Nearby</div>
  <ion-searchbar type="text" debounce="500" (ionChange)="filterList($event)"></ion-searchbar>

  <ion-list>
    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option color="warning" (click)="email(item)">
          <ion-icon name="mail"></ion-icon> Email
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/no-image.png">
        </ion-avatar>
        <ion-label>
          <h2>Yeshi Dorji</h2>
          <h3>Chief ICT Officer</h3>
          <p class="ion-text-wrap">Ministry of Information and Communications</p>
          <p>Within 100m</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success" (click)="call(item)">
          <ion-icon name="call"></ion-icon> Call
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option color="warning" (click)="email(item)">
          <ion-icon name="mail"></ion-icon> Email
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/no-image.png">
        </ion-avatar>
        <ion-label>
          <h2>Tshering Nidup</h2>
          <h3>Sr. ICT Officer</h3>
          <p class="ion-text-wrap">Prime Minister's Office</p>
          <p>Within 100m</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success" (click)="call(item)">
          <ion-icon name="call"></ion-icon> Call
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option color="warning" (click)="email(item)">
          <ion-icon name="mail"></ion-icon> Email
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/no-image.png">
        </ion-avatar>
        <ion-label>
          <h2>Pramod Nepal</h2>
          <h3>Software Developer</h3>
          <p class="ion-text-wrap">NGN Technologies Private Limited</p>
          <p>Within 100m</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success" (click)="call(item)">
          <ion-icon name="call"></ion-icon> Call
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  
    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option color="warning" (click)="email(item)">
          <ion-icon name="mail"></ion-icon> Email
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/no-image.png">
        </ion-avatar>
        <ion-label>
          <h2>Poojan Sharma</h2>
          <h3>Team Lead</h3>
          <p class="ion-text-wrap">NGN Technologies Private Limited</p>
          <p>Within 100m</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success" (click)="call(item)">
          <ion-icon name="call"></ion-icon> Call
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
  </ion-list>
</ion-content>
