.profile-img
{
    object-fit: cover;
    width: 36vw;
    height: 36vw;
    border-radius: 50%;
}

.float-center
{
    text-align: center;
}

.col-12
{
    width: 95%;
    margin: 8px;
}

.col-6
{
    width: 50%;
}

.margin-0
{
    margin: 0px;
}

.text-label
{
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 8px;
    border-bottom: 0.7px solid #0000000f;
}

.text-header
{
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 8px;
    font-weight: bold;
}

.margin-top-bottom
{
    margin: 0px 0px 1px 0px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-left-20
{
    margin-left: 25px;
}

.margin-left-5
{
    margin-left: 5px;
}

.logo {
    width: 70%;
    margin-left: -10px;
}