<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-weight: bold;">
      <img src="../../assets/desuung-header-logo.png" class="logo">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopOver($event)" color="primary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="col-12">
      <div class="float-center">
        <img class="profile-img" src="http://202.144.139.70/photos/{{photoUrl}}">
      </div>
  </div>
  <div class="float-center margin-0">
    <h6 class="margin-0">{{name}}</h6>
    <p class="margin-0">{{did}}</p>
  </div>
  <div>
    <ion-segment scrollable="true">
      <ion-segment>
        <ion-card class="badge-card">
          <ion-card-header class="badge-img-card">
            <img src="../../assets/desuung-badge/1-earthquake-blue-pin.png">
          </ion-card-header>
        </ion-card>
      </ion-segment>
      <ion-segment>
        <ion-card class="badge-card">
          <ion-card-header class="badge-img-card">
            <img src="../../assets/desuung-badge/1-earthquake-dragon-blue-pin.png">
          </ion-card-header>
        </ion-card>
      </ion-segment>
      <ion-segment>
        <ion-card class="badge-card">
          <ion-card-header class="badge-img-card">
            <img src="../../assets/desuung-badge/1-environmental-blue-pin.png">
          </ion-card-header>
        </ion-card>
      </ion-segment>
      <ion-segment>
        <ion-card class="badge-card">
          <ion-card-header class="badge-img-card">
            <img src="../../assets/desuung-badge/1-environmental-dragon-blue-pin.png">
          </ion-card-header>
        </ion-card>
      </ion-segment>
      <ion-segment>
        <ion-card class="badge-card">
          <ion-card-header class="badge-img-card">
            <img src="../../assets/desuung-badge/1-firefighting-blue-pin.png">
          </ion-card-header>
        </ion-card>
      </ion-segment>
      <ion-segment>
        <ion-card class="badge-card">
          <ion-card-header class="badge-img-card">
            <img src="../../assets/desuung-badge/1-firefighting-dragon-blue-pin.png">
          </ion-card-header>
        </ion-card>
      </ion-segment>
      <ion-segment>
        <ion-card class="badge-card">
          <ion-card-header class="badge-img-card">
            <img src="../../assets/desuung-badge/1-flood-rescue-blue-pin.png">
          </ion-card-header>
        </ion-card>
      </ion-segment>
      <ion-segment>
        <ion-card class="badge-card">
          <ion-card-header class="badge-img-card">
            <img src="../../assets/desuung-badge/1-flood-rescue-dragon-blue-pin.png">
          </ion-card-header>
        </ion-card>
      </ion-segment>
      <ion-segment>
        <ion-card class="badge-card">
          <ion-card-header class="badge-img-card">
            <img src="../../assets/desuung-badge/1-pm-dragon-white-pin.png">
          </ion-card-header>
        </ion-card>
      </ion-segment>
      <ion-segment>
        <ion-card class="badge-card">
          <ion-card-header class="badge-img-card">
            <img src="../../assets/desuung-badge/1-pm-white-pin.png">
          </ion-card-header>
        </ion-card>
      </ion-segment>
      <ion-segment>
        <ion-card class="badge-card">
          <ion-card-header class="badge-img-card">
            <img src="../../assets/desuung-badge/1-security-blue-pin.png">
          </ion-card-header>
        </ion-card>
      </ion-segment>
      <ion-segment>
        <ion-card class="badge-card">
          <ion-card-header class="badge-img-card">
            <img src="../../assets/desuung-badge/1-security-dragon-blue-pin.png">
          </ion-card-header>
        </ion-card>
      </ion-segment>
    </ion-segment>
  </div>
  <div class="col-12 div-container">
    <div class="margin-top-bottom text-header">
      <ion-icon name="person-sharp"></ion-icon> Personal Information
    </div>
    <div class="margin-top-bottom text-label">
      <ion-icon name="card-sharp"></ion-icon><label class="margin-left-5">{{cidNo}}</label>
    </div>
    <div class="margin-top-bottom text-label">
      <ion-icon name="mail-sharp"></ion-icon><label class="margin-left-5">{{email}}</label>
    </div>
    <div class="margin-top-bottom text-label">
      <label><ion-icon name="call-sharp"></ion-icon></label><label class="margin-left-5">{{mobileNo}}</label>
    </div>
    <div class="margin-top-bottom text-label">
      <label><ion-icon name="calendar-sharp"></ion-icon></label><label class="margin-left-5">{{dob}}</label>
    </div>
    <div class="margin-top-bottom text-label">
      <label><ion-icon name="male-female-sharp"></ion-icon></label><label class="margin-left-5">{{gender}}</label>
    </div>
    <div class="margin-top-bottom text-label">
      <label><ion-icon name="water-sharp"></ion-icon></label><label class="margin-left-5">{{bloodGroup}}</label>
    </div>
    <div class="margin-top-bottom text-label">
      <label><ion-icon name="people-sharp"></ion-icon></label><label class="margin-left-5">{{empType}}</label>
    </div>
    <div class="margin-top-bottom text-label">
      <label><ion-icon name="location-sharp"></ion-icon></label><label class="margin-left-5 ion-text-wrap">{{dzongkhag}}, {{gewog}}, {{village}}</label>
    </div>
  </div> 
  <div class="col-12 div-container">
    <div class="margin-top-bottom text-header">
      <ion-icon name="home-sharp"></ion-icon> Present Address Information
    </div>
    <div class="margin-top-bottom text-label">
      <ion-icon name="location-sharp"></ion-icon><label>{{location}}</label>
    </div>
  </div>  
  <div class="col-12 div-container" *ngIf="empType === 'Employed'">
    <div class="margin-top-bottom text-header">
      <ion-icon name="ribbon-sharp"></ion-icon> Job Details
    </div>
    <div class="margin-top-bottom text-label">
      <label>{{agencyType}}</label>
    </div>
    <div class="margin-top-bottom text-label">
      <label>{{agency}}</label>
    </div>
    <div class="margin-top-bottom text-label">
      <label>{{designation}}</label>
    </div>
    <div class="margin-top-bottom text-label">
      <label>{{occupationGroup}}</label>
    </div>
  </div>
  
</ion-content>
