<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="back()">
        <ion-icon slot="start" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-weight: bold;">
      <img src="../../assets/desuung-header-logo.png" class="logo">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="presentPopover($event)" color="primary">
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="orange-background">
  <div class="form-header">Contact Us</div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>De-Suung Head Office</ion-card-title>
      <ion-card-subtitle>Lungtenphug, Thimphu</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item no-lines>
        <ion-icon ios="ios-call" md="md-call" slot="end" style="color:#ff5507" (click)="call('+9752340353')"></ion-icon>
        <ion-label>+975-2-340353/341277</ion-label>
      </ion-item>
      <ion-item no-lines>
        <ion-icon ios="ios-mail" md="md-mail" slot="end" style="color:#ff5507" (click)="sendEmail()"></ion-icon>
        <ion-label>desuung11@gmail.com</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div class="form-header">Contributors</div>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Yeshi Dorji</h2>
        <h3>Chief ICT Officer</h3>
        <p class="ion-text-wrap">Ministry of Information and Communications</p>
        <p class="ion-text-wrap">ydorji@moic.gov.bt</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Tshering Nidup</h2>
        <h3>Sr. ICT Officer</h3>
        <p class="ion-text-wrap">Prime Minister's Office</p>
        <p class="ion-text-wrap">tnidup@cabinet.gov.bt</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Poojan Sharma</h2>
        <h3>Software Team Lead</h3>
        <p class="ion-text-wrap">NGN Technologies Private Limited</p>
        <p class="ion-text-wrap">poojan.sharma@ecentric.ngn.bt</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Pramod Nepal</h2>
        <h3>Software Developer</h3>
        <p class="ion-text-wrap">NGN Technologies Private Limited</p>
        <p class="ion-text-wrap">promod.nepal@ecentric.ngn.bt</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>