<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="back()">
        <ion-icon slot="start" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="orange-background">
  <div id="container">
    <div class="ion-text-center" style="color: #e9dddd">
      <h2>De-Suung Mobile App</h2>
      <h4>Version {{versionNo}}</h4>
    </div>
    <img class="login-logo" src="../../assets/desuung-header-logo.png">
    <div class="ion-text-center" style="color: #e9dddd">
      <h4>&copy; 2020-2030 Desuung Office</h4>
    </div>
  </div>
</ion-content>