<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-weight: bold;">
      <img src="../../assets/desuung-header-logo.png" class="logo">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="presentActionSheet()" color="primary">
        <ion-icon name="apps"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-header">Disclaimer</div>
  <ion-list>
    <ion-item lines="none">
      <ion-label color="dark" class="ion-text-wrap ion-text-justify">
        All Users must strictly comply with health safety requirements 
        (SOP and guidelines) and must adhere to Acts, Policies and 
        regulations in place of the Royal Government of Bhutan. 
        For details visit. <a href="http://www.moh.gov.bt" target="_blank">www.moh.gov.bt</a>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
