<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-weight: bold;">
      <img src="../../assets/desuung-header-logo.png" class="logo">
    </ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge class="app-button-top">
    <ion-fab-button class="app-button">
      <ion-icon name="apps" class="app-button-icon"></ion-icon>
    </ion-fab-button>
    <ion-fab-list class="app-button-margin">
      <ion-fab-button color="primary" [routerLink]="['/dashboard']">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" [routerLink]="['/settings']">
        <ion-icon name="cog"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" [routerLink]="['/logout']">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <div class="form-header">Disclaimer</div>
  <ion-list>
    <ion-item lines="none">
      <ion-label color="dark" class="ion-text-wrap ion-text-justify">
        All Users must strictly comply with health safety requirements 
        (SOP and guidelines) and must adhere to Acts, Policies and 
        regulations in place of the Royal Government of Bhutan. 
        For details visit. <a href="http://www.moh.gov.bt" target="_blank">www.moh.gov.bt</a>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
